/*
440
*/

html, body, h1, h2, h3, h4, p, div, ul, li, ol {
    margin: 0;
    padding: 0;
    font: inherit;
    font-size: 100%;
    border: 0;
}
.site {
    width: 100%;
    margin: 0 auto;
}
h1 {
    font-size: 3.75em;
    font-weight: bold;
    text-align: center;
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    padding: 50px 0;
    width: 20%;
    margin: 0 auto;
    
}

h2 {
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    color: #ffffff;
    width: 35.637918745%;
    margin: 0 auto;
    
}

h3 {
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 30px;
    font-weight: normal;
    margin: 20px 0 10px 0;
    border-bottom: 2px solid #999999;
    width: 31.361368496%px;
    padding-bottom: 2px;
}

h4 {
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    border-bottom: 2px solid #999999;
    margin: 1px auto 3px auto;
    padding-bottom: 1px;
    text-align: center;
    width:  90.909090909%;
}
p {
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    color: #a99933;
    padding: 5px 0 10px 15px;
}
.header {
    background-color: #bbbbaa;
    padding: 20px 0 15px 0;
    height: 200px;
}

.header img {
    height: 200px;
    width: 150px;
    margin: 0 150px 10px 150px;
}

.left{
    float: left;
        
}

.right {
    float: right;
}
.tagline {
    background-color: #887766;
    padding: 20px 0 10px 0;
    
}

.images li, .projects li, .skills li {
    list-style-type: none;
}


.projects, .schoolastic, .skills, .courses {
     width: 31.361368496%;
     margin: 0 auto;
}

.paragraph li {
    list-style-type: disc;
    text-indent: -10px;
    width: 420px;
    margin-left: 15px;
    width: 100%;
}

.paragraph, .images, .skills ul {
    border-bottom: 2px solid #999999;
    margin-bottom: 10px;
    padding: 20px;
}

.pcoe {
    display: block;
    margin: 0 auto;
        
}
.html {
    height: 200px;
    width: 200px;
}
.images img {
    width: 15.909090909%;
    height: 38.04347826%;
    float: left;
    margin-right: 10px;
}
.images li {
    margin-top: 20px;
    width: 100%;
}

.MusicMore {
    width: 100%;
}

.schoolastic li {
    margin-bottom: 10px;
    padding-bottom: 10px
}
.skills li {
    text-align: center;
    padding: 5px;
    margin-right: 10px;
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman';
    color: #a99933;
    width: 100%;
}

.s {
    width: 200px;
    display: block;
    margin: 0 auto; 
    padding: 10px;
}

.cs {
    width: 100%;
    margin: 0 auto; 
    padding: 10px;
}

.footer {
    background-color: #bbbbaa;
    text-align: center;
    height: 80px;
}

.footer a {
    text-decoration: none;
    color: #225522;
    padding: 23px;
    display: block;
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman';
    font-size: 30px
}

.footer a:hover {
    text-decoration: underline;
    color: #553333;
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman';
}
        
@media only screen and (max-width: 1090px) {
    .right,
    .left {
        display: none;
    }
    h1 {
        width: 30%;
    }
    h2 {
        width: 50%;
    }
    .projects, .schoolastic, .skills, .courses {
        width: 50%;
    }

}
@media only screen and (max-width: 741px) {
    h2 {
        width: 70%;
    }
     .projects, .schoolastic, .skills, .courses {
        width: 75%;
    }
}
@media only screen and (max-width: 488px) {
    .projects, .schoolastic, .skills, .courses {
        width: 85%;
    }
}
        